
$background-main-color: #2C3E50;

.Home {
    width: 100%;
    height: 100vh;
    background-color: $background-main-color;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 24px;
}
