.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  .Result {
    font-weight: 700;
    color: var(--main-text-color);
    text-align: center;
    padding: 0px 10px;

  }
  button {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: var(--button-color);
    color: var(--main-text-color);
    padding: 12px 24px;
    border-radius: 8px;
  }
}
