@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --background-color: #2C3E50;
  --button-color: #2980b9;
  --main-text-color: #ecf0f1;
  --border-color: #BDC3C7;
  --score-color: #34495E;
  --rock-color:  #27AE60;
  --paper-color: #F1C40F;
  --scissor-color: #2980B9;
  --pc-color: #E74C3C;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
     font-family: 'Roboto', sans-serif;
}
